@font-face { 
  font-family: 'SegoeWP'; 
  src: url('assets/fonts/SegoeWP.woff2') format('woff2'), 
       url('assets/fonts/SegoeWP.ttf')  format('truetype'),
       url('assets/fonts/SegoeWP.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face { 
  font-family: 'SegoeWP-Light'; 
  src: url('assets/fonts/SegoeWP-Light.woff2') format('woff2'), 
       url('assets/fonts/SegoeWP-Light.ttf')  format('truetype'),
       url('assets/fonts/SegoeWP-Light.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal; 
}

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
  
html,body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.header{
  display: flex;
  width: 100%;
  height: 565px;
  background: url(../images/header/background.png) no-repeat;
  background-size: cover;
  flex-direction: column;
  margin: 0 auto;
}

.header__navigation{
  display: flex;
  width: 100%;
  height: 115px;
  max-height: 115px;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__inner{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.navigation__menu{
  display: flex;
  background: url(../images/header/background-menu.png) no-repeat;
  background-size: cover;
  width: 480px;
  height: 51px;
  align-items: center;
  color: #9b7d08;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "SegoeWP", sans-serif;
  padding-left: 23px;
  padding-top: 11px;
}

.menu__item{
  display: flex;
  align-items: center;
  line-height: 40px;
  height: 51px;
  width: calc(500px/3);
 
}

.menu__item div{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child){
  border-right: 1px solid #dcb105;
}

.menu__item img{
width: 21px;
height: 19px;
margin-right: 8px;
}

.header__inner{
display: flex;
justify-content: flex-end;
align-items: center;
font-family: "Asap", sans-serif;
font-weight: 400;
font-size: 63px;
color: white;
margin-top: 148px;
text-transform: uppercase;
text-align: center;
}

.yellow{
color: #f5c506;
}

.body__inner{
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
}

.body__container{
  display: flex;
  height: 214px;
  width: 1020px;
  justify-content: space-around;
  border-right: 1px solid #d4d4d4;
  
}

.container__items{
  display: flex;
  width: 342px;
  height: 214px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #d4d4d4;
}

.container__items p{
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "SegoeWP", sans-serif;
}

.container__items_design img{
  width: 109px;
  height: 74px;
}

.container__items_customise img{
  width: 92px;
  height: 95px;
}

.container__items_free img{
  width: 81px;
  height: 83px;
}

.section{
  display: flex;
  background: url(../images/body/section/background.png) no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 508px;
  margin: 0 auto;
}

.section__inner{
  display: flex;
  width: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  height: 508px;
  flex-direction: column;
}

.inner__title{
  text-transform: uppercase;
  color: white;
  margin-top: 43px;
  font-size: 37px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.inner__container{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container__component{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 656px;
  height: 232px;
  background: #ec9e03;
  color: white;
  text-align: center;
}

.component__description{
  font-family: "SegoeWPLight", sans-serif;
  font-weight: 100;
  font-size: 29px;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 0 auto; 
  white-space: pre-line;
  word-wrap: break-word;
  width: 266px;
  height: 173px;
}

.container__component.container__component_twitter{
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-left: 40px;
}
.component__video{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-play{
  position: absolute;
}

.container__component_twitter .component__count{
  font-family: "SegoeWPLight", sans-serif;
  font-weight: 100;
  position: absolute;
  bottom: 200px;
  right: 20px;
  text-transform: uppercase;
}

.container__component_twitter .component__icon{
  position: absolute;
  right: 10px;
  bottom: 13px;
}
.component__icon{
  position: absolute;
  bottom: 13px;
  right: 325px;
}

.footer{
  display: flex;
  background: url(../images/body/footer/background.png) no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 497px;
  margin: 0 auto;
}

.footer__inner{
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__inner .inner__title{
  color: #f5c506;
  font-size: 43px;
  margin-top: 50px;
}

.inner__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.menu__items{
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.menu__second,.menu__third{
  margin-left: 25px;
  margin-bottom: 40px;
}

.menu__list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  bottom: 0;
  margin-top: 80px;
}

.list__item{
  position: relative;
  margin-bottom: 23px;
  color: #a9a9a7;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 100;
  margin-left: 76px;
}

.list__item::before{
  position: absolute;
  content: "";
  border: 1px solid #f5c506;
  background: #f5c506;
  padding: 5 5;
  border-radius: 100%;
  left: -20px;
  text-align: center;
  top: 5px;
}