@font-face { 
  font-family: 'SegoeWP'; 
  src: url('assets/fonts/SegoeWP.woff2') format('woff2'), 
       url('assets/fonts/SegoeWP.ttf')  format('truetype'),
       url('assets/fonts/SegoeWP.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
  
html,body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.header{
  display: flex;
  width: 100%;
  height: 565px;
  background: url(../images/header/background.png) no-repeat;
  background-size: cover;
  flex-direction: column;
  margin: 0 auto;
}

.header__navigation{
  display: flex;
  width: 100%;
  height: 115px;
  max-height: 115px;
  max-width: 1020px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header__inner{
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.navigation__menu{
  display: flex;
  background: url(../images/header/background-menu.png) no-repeat;
  background-size: cover;
  width: 480px;
  height: 51px;
  align-items: center;
  color: #9b7d08;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "SegoeWP", sans-serif;
  padding-left: 23px;
  padding-top: 11px;
}

.menu__item{
  display: flex;
  align-items: center;
  line-height: 40px;
  height: 51px;
  width: calc(500px/3);
 
}

.menu__item div{
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child){
  border-right: 1px solid #dcb105;
}

.menu__item img{
width: 21px;
height: 19px;
margin-right: 8px;
}

.header__inner{
display: flex;
justify-content: flex-end;
align-items: center;
font-family: "Asap", sans-serif;
font-weight: 400;
font-size: 63px;
color: white;
margin-top: 148px;
text-transform: uppercase;
text-align: center;
}

.yellow{
color: #f5c506;
}

.body__inner{
display: flex;
margin: 0 auto;
width: 100%;
max-width: 1020px;
}

.body__container{
  display: flex;
  height: 214px;
  width: 1020px;
  justify-content: space-around;
  border-right: 1px solid #d4d4d4;
}

.container__items{
  display: flex;
  width: 342px;
  height: 214px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #d4d4d4;
}

.container__items p{
  position: relative;
  bottom: 0px;
  margin-top: 20px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "SegoeWP", sans-serif;
}

.container__items_design img{
  width: 109px;
  height: 74px;
}

.container__items_customise img{
  width: 92px;
  height: 95px;
}

.container__items_free img{
  width: 81px;
  height: 83px;
}

/*.body__container{
display: flex;
flex-direction: row;
height: 214px;
width: 1020px;
justify-content: space-around;
}

.container__items{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
align-items: center;
margin-top: 20px;
height: 200px;
}

.container__items p{
position: relative;
bottom: 0px;
margin-top: 20px;
font-size: 17px;
text-transform: uppercase;
font-family: "SegoeWP", sans-serif;
}*/